dataset/
*.jpg
logs/
made/

Animacija/
Animacija.zip
myenv/
myenv_new/
node_modules
.env
.env.mongo
log/
*.log

__pycache__/
*.pyc
*.pyo
*.py[cod]

.ipynb_checkpoints/

.DS_Store

.vscode/
.idea/
*.swp
*.blend
